body {
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 16px;
}

.messagebox {
  border: 1px solid black;
  padding: 5px;
  width: 450px;
}

.buttonright {
  float: right;
}

.buttonleft {
  float: left;
}

.controlbox {
  padding: 5px;
  width: 450px;
  height: 28px;
}
