.mdn-footer {
	font-weight:normal;
	font-size:12px;
	font-family:'Lucida Grande', Arial, Helvetica, sans-serif;
	text-align:right;
	border-top:2px solid #000000;
}

.mdn-header {
	width:100%;
	height:28px;
	padding-bottom:2px;
	border-bottom:2px solid #000000;
}

.mdn-header h1 {
	font-weight:bold;
	font-size:24px;
	font-family:'Lucida Grande', Arial, Helvetica, sans-serif;
}

.mdn-content {
	font-family:'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size:15px;
}
