@charset "UTF-8";
/* Any copyright is dedicated to the Public Domain.
 * http://creativecommons.org/publicdomain/zero/1.0/ */

.mdn-container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.mdn-footer {
	padding-top: 0.25rem;
}

.mdn-header {
	display: flex;
	flex-wrap: wrap;
	align-items: end;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: unset;
}

.mdn-header h1 {
	display: block;
	height: 24px;
	margin: unset;
}

.mdn-header .gh-link {
	display: block;
	text-align: end;
	margin-left: auto;
	margin-top: 3px;
}

/* Small (568px) */
@media (min-width: 36rem) {
	.mdn-container {
		/* 540px */
		max-width: 33.75rem;
	}
}

/* Medium (768px) */
@media (min-width: 48rem) {
	.mdn-container {
		/* 720px */
		max-width: 45rem;
	}
}

/* Large (1024px) */
@media (min-width: 64rem) {
	.mdn-container {
		/* 960px */
		max-width: 60rem;
	}
}

/* XL (1200px) */
@media (min-width: 75rem) {
	.mdn-container {
		/* 1120px */
		max-width: 70rem;
	}
}
